#div{
    border: 5px;
    border-style:dotted;
    border-color:  black;
    
}
#tab{
    border: 5px;
    border-style:hidden;
    border-color:  red;
    width: 75px;
    height: 75px;
}
#td{
    border: 5px;
    border-style:groove;
    border-color:  blue;
    width: 75px;
    height: 75px;
}
#img{
    width: 150px;
    height: 200px;
    border: 5px;
    border-style:groove;
    border-color:  blue;
}
#a{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#b{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#c{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#d{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#e{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#f{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#g{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#h{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#i{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#j{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#k{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#l{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#m{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#n{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#o{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#p{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#q{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#r{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#s{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#t{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#u{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#v{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#w{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#x{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#y{
    width: 150px;
    height: 200px;
    left: 5px;
    top: 5px;
}
#z{
    width: 500000px; 
}